body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("img/nordwood-themes-9a58YsGiTPk-unsplash.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  color: #e50000;
  -webkit-text-stroke: 0.5px #fff;
  text-shadow: 1px 1px 1px #fff;
}

/* Add Name Input */
input {
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
}

input[type="text"] {
  width: 200px;
  margin-right: 10px;
}

.name-tag {
  background-color: #e50000;
  padding: 10px 0 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  width: 350px;
  margin: 40px 10px;
  display: inline-block;
  position: relative;
  box-shadow: 1px 1px 2px 1px #fff;
}

.title {
  color: #fff;
  margin: 0;
  font-size: 40px;
}

.subtitle {
  color: #fff;
  margin: 0;
}

.name {
  background-color: #fff;
  margin: 10px 0;
  font-weight: 400;
  font-size: 60px;
  height: 90px;
  font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
}

.name-tag__delete {
  position: absolute;
  padding: 5px 8px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.name-tag__delete:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
